#Node Modules
node_modules/

#Test SQLite Database
db/

#Test JS Files
#app/js/sqlite.js

#Temporary Files
app/tmp/

#Package files
package-lock.json

#IDE Files
.vscode/
.idea/

#docker container
# .devcontainer/